<%= form_with url: "/users/#{@user.id}", method: "patch" do |form| %>
  <h2>Edit user</h2>
  <% if @user.errors.any? %>
    <div class="text-danger bg-light">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="first_name">First name:</label>
    <input class="form-control" id="first_name" type="text" name="first_name" value="<%= @user.first_name %>">
  </div>
  <div class="form-group">
    <label for="last_name">Last name:</label>
    <input class="form-control" id="last_name" type="text" name="last_name" value="<%= @user.last_name %>">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input class="form-control" id="email" type="text" name="email" value="<%= @user.email %>">
  </div>
  <div class="form-group">
    <label for="start_date">Start date:</label>
    <input class="form-control" id="start_date" type="date" name="start_date" value="<%= @user.start_date %>">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-secondary" href="/users">Cancel</a>
<% end %>

<%= form_with method: "delete", url: "/users/#{@user.id}" do |form| %>
  <div class="text-right">
    <button class="btn btn-danger" type="submit">Delete user</button>
  </div>
<% end %>