<!DOCTYPE html>
<html>
  <head>
    <title>ActualizeChicagoDoorApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      body {
        height: 100vh;
        background-image: linear-gradient(to bottom right, #1f92df, #1634cc);
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>

  <body class="d-flex flex-column">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="actualize-logo-square.png" width="30" height="30" class="d-inline-block align-top" alt="Actualize Logo">
        Actualize Door Access
      </a>
      
      <div class="navbar-nav justify-content-end w-100">
        <% if logged_in_as_admin? %>
          <a class="nav-item nav-link" href="/admin">Admin</a>
        <% end %>
        <% if current_user %>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        <% end %>
      </div>
    </nav>
    <div class="container p-2" style="min-height:5em;">
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %>" role="alert">
          <%= msg %>
        </div>
      <% end %>
    </div>
    <div class="container flex-grow-1 d-flex align-items-center">
        <%= yield %>
    </div>
  </body>
</html>
